<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}Sistema de Anotacion{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% block styles %}{% endblock %}
</head>
<body>
<div id="app">
    <nav class="navbar navbar-dark sticky-top navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="#"> Multi-annotator</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Annotation Tasks <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Corpus Analisis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Test Models</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">User management</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text text-nowrap">
                Logged as <b>{{ current_user.username }}</b>
            </span>
            <div class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-cookies@1.5.5/vue-cookies.js"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

{% block scripts %}{% endblock %}
</body>
</html>